
body{
    background-color: #c4cccc;
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.link:hover {
    color: black;
    cursor: progress;
}

.link {
    color: Red;
}

.conte {
        width: 400px;
    height: 50px;
    border: 5px solid;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #CEFF1A;
}

.conteiner {
    width: 300px;
    height: 50px;
    border: 5px solid;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #CEFF1A;
}

.wait:hover {
     cursor: wait;
}

.pointer:hover {
    cursor: pointer;
}

.help:hover {
    cursor: help;
}

.crosshair:hover {
    cursor: crosshair;
}


.grab:hover {
    cursor: grab;
}

.na:hover {
    cursor: not-allowed;
}

.zoom-in:hover {
    cursor: zoom-in;
}

.zoom-out:hover {
    cursor: zoom-out;
}

.vt:hover {
    cursor: vertical-text;
}

.copy:hover {
    cursor: copy;
}

.alias:hover {
    cursor: alias;
}

.nodrop:hover {
    cursor: no-drop;
}

.move:hover {
    cursor: move;
}



.grabbing:hover {
    cursor: grabbing
}

.all-scroll:hover {
    cursor: all-scroll;
}

.text:hover {
    cursor: text;
}

.colsize:hover {
    cursor: col-resize;
}

.rowsize:hover {
    cursor: row-resize;
}

.nsize:hover {
    cursor: n-resize;
}
.progress:hover {
    cursor: progress;
}

.cell:hover {
    cursor: cell;
}

.esize:hover {
    cursor: e-resize;
}

.sresize:hover {
    cursor: s-resize;
} 

.wsize:hover {
    cursor: w-resize;
}

.nesize:hover {
    cursor: ne-resize;
}

.nwsize:hover {
    cursor: nw-resize;
} 

.sesize {
    cursor: se-resize;
}

.swsize:hover {
    cursor: sw-resize;
}

.ewsize:hover {
    cursor: ew-resize;
}

.ns_size:hover {
    cursor: ns-resize;
}

.neswsize:hover {
    cursor: nesw-resize;
}

.nwsesize:hover {
    cursor: nwse-resize;
}